#initialTitle {
    font-size: 72px;
    text-align: center;
    margin: 0;
    font-family: 'Ribeye', cursive;
    letter-spacing: 30px;
    top: 3%;
    font-weight: 100;
    grid-area: title;
}

#initialTitleHang {
    color:#880808;
    font-weight: 100;
}

#initialTitleMan {
    color: #1E0C1D;
}

#containerConsonant {
    font-family: 'Reenie Beanie', cursive;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    font-size: 64px;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    grid-area: consonant;
}

#containerVowel {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 30px;
    font-family: 'Rochester', cursive;
    font-size: 64px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-area: vowel;
    margin: auto;
}

#primerDiv {
    display: grid;
    grid-template-areas: 
    'title title'
    'forca letters'
    'vowel vowel'
    'consonant consonant';
    justify-content: space-evenly;
    height: 97vh;
    width: 100%;
    grid-template-columns: 49.9% 49.9%;
    grid-template-rows: 13.6% 49% 10% 12.5%;
    position: relative;
    row-gap: 31px;
}

#z {
    color: #ff0000;
}

#e {
    color: #00ff00;
}

#forca {
    width: 20%;
    display: block;
    margin: auto;
    text-align: center;
}

#divForca {
    display: flex;
    justify-content: center;
    grid-area: forca;
}

#divTexto {
    grid-area: letters;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.letterContainer {
    width: 60px;
    height: 100px;
    border-bottom: 2px solid black;
    display: block;
    font-size: 2em;
    text-align: center;
}

#divTexto span {
    position: relative;
    right: 100px;
}

.body {
    position: absolute;
    left: 315px;
    top: 195px;
    width: 8%;
    display: none;
}
