#initialTitle {
    font-size: 72px;
    text-align: center;
    margin: 0;
    font-family: 'Ribeye', cursive;
    letter-spacing: 30px;
    top: 2%;
    font-weight: 100;
    grid-area: title;
}

#initialTitleHang {
    color:#880808;
    font-weight: 100;
}

#initialTitleMan {
    color: #1E0C1D;
}

#containerConsonant {
    font-family: 'Reenie Beanie', cursive;
    display: flex;
    font-size: 64px;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    grid-area: consonant;
}

#containerVowel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Rochester', cursive;
    font-size: 64px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-area: vowel;
}

#primerDiv {
    display: grid;
    grid-template-areas: 
    'title title'
    'forca letters'
    'vowel vowel'
    'consonant consonant';
    justify-content: space-evenly;
    height: 97vh;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 49% 10% 12.5%;
}

#z {
    color: #ff0000;
}

#e {
    color: #00ff00;
}

#forca {
    width: 10%;
    grid-area: forca;
}

#divText {
    grid-area: letters;
    justify-content: center;
}

