body {
    background-image: url(/imagens/hangman.gif);
    background-size: 100%;
    background-repeat: no-repeat;
}

#vocabularyTitle {
    margin: auto;
    width: 58%;
    height: 10%;
    text-align: center;
    font-size: 72px;
    letter-spacing: 20px;
    font-family: 'Ribeye Marrow', cursive;
}