body {
    background-image: url(/imagens/hangman.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    filter: blur(100px);
}

div.themePicture {
    background-color: blue;
}

#container {
    text-align: center;
}