
#vocabularyTitle {
    margin: auto;
    width: 58%;
    height: 10%;
    text-align: center;
    font-size: 72px;
    letter-spacing: 20px;
    font-family: 'Ribeye Marrow', cursive;
}

body {
    background-image: url(/imagens/hangmanfinal.svg);
    background-repeat: no-repeat;
    background-color: brown;
    background-size: 100%;
}

#container {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    width: 100%;
    column-gap: 0px;
    row-gap: 0px;
} 

#playButton {
    background-color: transparent;
    border: none;
    width: 472px;
    height: 258px;
}

#playButton:hover {
    transform: scale(1.05);
}

.imageButton {
    background-color: transparent;
    border: none;
}

.imageButton:hover {
    transform: scale(1.05);
}

.imageButton:active {
    border: 2px solid #B70A0A;
}